@font-face {
	font-family: "Inter";
	src: url("./static/Inter.ttf");
}

@font-face {
	font-family: "Monaspace Neon";
	src: url("./static/MonaspaceNeon.woff");
}

body {
	font-family: "Inter", sans-serif;
	background-color: white;
}

body.dark-mode {
	background-color: #161618;
	color: white;
}

a {
	color: #3464c1;
}

button {
	display: inline-block;
	padding: 0.2em 0.9em;
	line-height: 1.5em;
	margin: 0.2em;
	text-decoration: none;
	font-size: 0.8em;
	cursor: pointer;
	border: 0px;
	height: 2em;
	color: #333;
	border-radius: 4px;
}

pre {
	background-color: rgb(230, 230, 230);
	padding: 1em;
	border-radius: 5px;
	margin: 0;
	overflow-x: auto;
}

body.dark-mode pre {
	background-color: #19191e;
}

body.dark-mode select {
	background-color: #19191e;
	color: white;
}

.cm-editor .cm-content {
	font-family: "Monaspace Neon", Courier, monospace;
	font-variant-ligatures: none;
}

body.dark-mode .cm-editor {
	background-color: #19191e;
}

body.dark-mode .cm-cursor {
	border-left-color: white;
}

#output {
	font-family: "Monaspace Neon", Courier, monospace;
	max-height: 300px;
	overflow-y: auto;
}
